<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="remes.XDraw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <remes.XDraw.Properties.Settings>
            <setting name="XDrawWindow_State" serializeAs="String">
                <value/>
            </setting>
            <setting name="XDrawWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XDrawWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XDrawWindow_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XDrawWindow_Height" serializeAs="String">
                <value>0</value>
            </setting>
        </remes.XDraw.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
